{% extends 'myapp/template.html' %}

{% block title %} Видалити товар {% endblock %}

{% block content %}
    <div class="page-container">
        <div class="content-box">
            <h2 class="main-heading">Ви впевнені, що хочете видалити товар "{{ object.name }}"?</h2>
            <form method="post">
                {% csrf_token %}
                <div class="one-line-buttons flex">
                    <button type="submit" class="universal-btn danger-filled-btn">Підтвердити видалення</button>
                    <a href="javascript:history.back()" class="universal-btn back-btn cusl3">Скасувати</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}