{% extends 'myapp/template.html' %}
{% load static %}

{% block title %} Усі товари {% endblock %}

{% block content %}
        <div class="products-grid container-fluid one-line">
            <form method="get" class="filter-form">
                <div class="filter-group">
                    <label for="category" class="filter-label">Категорія:</label>
                    <select name="category" id="category" class="filter-select" onchange="this.form.submit()">
                        <option value="">Всі категорії</option>
                        {% for cat in categories %}
                            <option value="{{ cat.id }}" {% if cat.id == selected_category %}selected{% endif %}>
                                {{ cat.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="filter-group">
                    <label for="sort" class="filter-label">Сортування:</label>
                    <select name="sort" id="sort" class="filter-select" onchange="this.form.submit()">
                        <option value="">Без сортування</option>
                        <option value="price_asc" {% if selected_sort == 'price_asc' %}selected{% endif %}>Від дешевих до дорогих</option>
                        <option value="price_desc" {% if selected_sort == 'price_desc' %}selected{% endif %}>Від дорогих до дешевих</option>
                    </select>
                </div>
            </form>
        </div>
    <div class="products-grid container-fluid">
        {% for product in products %}
        <div class="product-card">
            <a href="{% url 'product_detail' pk=product.id %}" class="product-link">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                {% else %}
                <img src="{% static 'images/no-image.jpg' %}" alt="Фото товару" class="product-image">
                {% endif %}
                <div class="product-info">
                    <div class="product-name">{{ product.name }}</div>
                    <div class="product-price">{{ product.price }} грн</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>



{% endblock %}