{% extends 'myapp/template.html' %}

{% block title %} Створити новий товар {% endblock %}

{% block content %}

    <h2>Створити новий товар</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error-message">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="one-line-buttons">
            <button type="submit" class="btn btn-primary">Зберегти</button>
            <a href="javascript:history.back()" class="universal-btn back-btn">Назад</a>
        </div>
    </form>

{% endblock %}
