{% extends 'myapp/template.html' %}

{% block title %} Написати відгук {% endblock %}

{% block content %}
    <div class="form-container">
        <form method="post">
            <div class="form-header">
                <h2>Відгук для товару</h2>
                <h3>"{{ product.name }}"</h3>
            </div>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-text">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="one-line form-buttons">
                <button type="submit" class="btn btn-primary custom-orange-btn">Зберегти</button>
                <a href="{% url 'product_detail' product.id %}" class="btn btn-secondary back-to-product-btn">Назад</a>
            </div>
        </form>
    </div>
{% endblock %}