{% extends 'myapp/template.html' %}

{% block content %}
    <div class="comment-container">
        <h2 class="main-heading">Ваші замовлення</h2>

        {% if orders %}
        <div class="comment-grid">
            {% for order in orders %}
            <a href="{% url 'order_confirm' order.id %}" class="comment-card list-group-item">
                <div class="comment-header" style="height: 10px;">
                    <strong>Замовлення № {{ order.id }}</strong><br>
                    <div class="d-flex align-items-center gap-2 flex-wrap">
                        {% for item in order.items.all %}
                            {% if item.product and item.product.image %}
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" height="40" class="rounded border">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <small>{{ order.total_price }} грн</small>
                </div>
                <span class="comment-rating" style="color: #28a745;">{{ order.date|date:"d.m.Y H:i" }}</span>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <p>У вас ще немає замовлень.</p>
        {% endif %}
    </div>
{% endblock %}