{% extends 'myapp/template.html' %}

{% block content %}
    <div class="page-container">
        <h2 class="sub-heading">Ваші замовлення</h2>

        {% if orders %}
        <div class="orders-list-container">
            {% for order in orders %}
            <a href="{% url 'order_confirm' order.id %}" class="order-item">
                <div>
                    <strong>Замовлення #{{ order.id }}</strong><br>
                    <small>{{ order.date|date:"d.m.Y H:i" }}</small>
                </div>
                <span>{{ order.total_price }} грн</span>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <p class="empty-message">У вас ще немає замовлень.</p>
        {% endif %}
    </div>

    <div class="comment-actions-bottom footer-class">
        <a class="universal-btn back-btn" href="javascript:history.back()">Назад</a>
    </div>
{% endblock %}