{% extends 'myapp/template.html' %}

{% block title %} Змінити категорію {% endblock %}

{% block content %}
    <div class="page-container">
        <div class="content-box">
            <h2 class="main-heading">Змінити категорію</h2>
            <form method="post" class="form-container">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="error-message">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="one-line-buttons">
                    <button type="submit" class="universal-btn orange-filled-btn">Оновити</button>
                    <a href="javascript:history.back()" class="universal-btn back-btn cusl">Назад</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}