{% extends 'myapp/template.html' %}

{% block title %} Зміна логіну та пароля {% endblock %}

{% block content %}
    <div>
        <form method="post">
            <h2>Змінити логін або пароль</h2>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-text">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="one-line">
                <button type="submit">Зберегти</button>
                <a href="javascript:history.back()">Назад</a>
            </div>
        </form>
    </div>
{% endblock %}