{% extends 'myapp/template.html' %}
{% load static %}

{% block title %} Профіль користувача {% endblock %}

{% block content %}
    <div class="page-container">
        <div class="content-box">
            <h1 class="main-heading">Профіль користувача</h1>
            <ul class="info-list">
                <li><span class="info-label">Логін:</span> {{ profile_user.username }}</li>
                <li><span class="info-label">Ім’я:</span> {{ profile_user.first_name }}</li>
                <li><span class="info-label">Прізвище:</span> {{ profile_user.last_name }}</li>
                <li><span class="info-label">Email:</span> {{ profile_user.email }}</li>
                <li><span class="info-label">Дата реєстрації:</span> {{ profile_user.date_joined|date:"d.m.Y, H:i" }}</li>
                {% if user.groups.all|length > 0 %}
                    {% for group in user.groups.all %}
                        {% if group.name == "Manager" %}
                            <li><span class="info-label">Група:</span> {% for group in profile_user.groups.all %}{{ group.name }} {% endfor %}</li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
            <div class="button-group">
                {% if request.user.id == profile_user.id %}
                    <a href="{% url 'profile_update' %}" class="universal-btn orange-outline-btn">
                        Редагувати профіль
                    </a>
                    <a href="{% url 'password_update' %}" class="universal-btn orange-outline-btn">
                        Редагувати логін/пароль
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="content-box">
            <div class="button-group">
                <a href="javascript:history.back()" class="universal-btn back-btn">
                    Назад
                </a>
                {% if user.is_authenticated %}
                    <a href="{% url 'confirm_logout' %}" class="universal-btn orange-filled-btn">
                        Вийти
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}