{% extends 'myapp/template.html' %}
{% load static %}

{% block title %} Редагування профілю {% endblock %}

{% block content %}
    <div class="page-container">
        <div class="content-box">
            <form method="post">
                <h2 class="sub-heading text-center">Редагувати профіль користувача</h2>
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group">
                    {{ field.label_tag }}
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control" {% if field.value %}value="{{ field.value }}"{% endif %}>
                    {% if field.errors %}
                      <div class="error-text">{{ field.errors }}</div>
                    {% endif %}
                  </div>
                {% endfor %}
                <div class="button-group one-line-buttons">
                  <button type="submit" class="universal-btn orange-filled-btn">Зберегти</button>
                  <a href="javascript:history.back()" class="universal-btn back-btn cusl">Назад</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}