{% extends 'myapp/template.html' %}

{% block title %}Список бажань{% endblock %}

{% block content %}
    <h1>Список бажань
        {% if profile_user.first_name %}
            {{ profile_user.first_name }} {{ profile_user.last_name }}
        {% endif %}
    </h1>
    <div>
        {% for product in favorite_product %}
        <div>
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            <div>
                <h2><a href="{% url 'product_detail' product.id %}">{{product.name}}</a></h2>
                <div> {{ product.description }} </div>
            </div>
            <div>
                <form method="post" action="{% url 'favorite_product' product.pk %}">
                {% csrf_token %}
                    <button type="submit" class="add-to-wishlist-btn">
                        <i class="{% fas fa-heart"></i>
                    </button>
                </form>
            </div>
        </div>
        {% empty %}
            <p>Немає жодного товару у списку бажань.</p>
        {% endfor %}
    </div>
    <a class="global-button" href="javascript:history.back()">Назад</a>
{% endblock %}