{% extends 'myapp/template.html' %}
{% load static %}

{% block title %}Список бажань{% endblock %}

{% block content %}
<div class="page-container">
    <h1 class="main-heading">
        Список бажань
        {% if profile_user.first_name %}
            {{ profile_user.first_name }} {{ profile_user.last_name }}
        {% endif %}
    </h1>
    <a class="universal-btn back-btn" href="javascript:history.back()">Назад</a>

    <div class="products-grid">
        {% for product in favorite_product %}
        <div class="product-card">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
            </a>
            <div class="product-info">
                <h2 class="product-name"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h2>
                <div class="product-description">{{ product.description }}</div>
            </div>
            <div class="product-actions">
                <form method="post" action="{% url 'favorite_product' product.pk %}">
                {% csrf_token %}
                    <button type="submit" class="add-to-wishlist-btn">
                        <i class="fas fa-heart"></i>
                    </button>
                </form>
            </div>
        </div>
        {% empty %}
            <p class="empty-message">Немає жодного товару у списку бажань.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}