{% extends 'myapp/template.html' %}
{% load static %}

{% block title %} Вхід / Реєстрація {% endblock %}

{% block content %}
    <div class="auth-container">
        <div class="auth-box">
            <h2 class="auth-title">Ласкаво просимо!</h2>
            <p class="auth-description">Будь ласка, увійдіть або зареєструйтеся, щоб продовжити.</p>

            <div class="auth-buttons-group">
                <a href="{% url 'login_account' %}" class="auth-btn auth-btn-login">
                    Увійти
                </a>
                <a href="{% url 'register' %}" class="auth-btn auth-btn-register">
                    Зареєструватися
                </a>
            </div>
        </div>
    </div>
{% endblock %}