{% extends 'myapp/template.html' %}

{% block title %} Авторизація {% endblock %}

{% block content %}
    <div >
        <form method="post">
            <h2>Вхід до акаунту</h2>
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div>{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div>
                <button type="submit">
                    Увійти
                </button>
                <a href="javascript:history.back()">Назад</a>
            </div>
            <div>
                Продовжуючи, ви підтверджуєте, що згодні увійти до облікового запису та надаєте згоду на обробку персональних даних
            </div>
            <div>
                <span>або</span>
            </div>
            <div>
                <h2>Немає акаунту?</h2>
            <a class="global-button" href="{% url 'register' %}">
                Створити акаунт
            </a>
            </div>
        </form>
    </div>

{% endblock %}



