{% extends 'myapp/template.html' %}

{% block title %} Реєстрація {% endblock %}

{% block content %}
    <div>
        <form method="post">
            <h2>Реєстрація користувача</h2>
            {% csrf_token %}
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    <div>{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <div>
                <button type="submit"> Зареєструватися </button>
                <a class="global-button" href="javascript:history.back()">Назад</a>
            </div>
        </form>
    </div>
{% endblock %}
